pipeline/ADF-16-07-2024.json
{
	"name": "ADF-16-07-2024",
	"properties": {
		"activities": [
			{
				"name": "Csv-File-Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "Excel2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Csv-File-Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Csv-File-Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Insert-Std-Data",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertStudentDataWithDate]",
								"storedProcedureParameters": {
									"Chemistry": {
										"value": {
											"value": "@item().chemistry",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ComputerScience": {
										"value": {
											"value": "@item().Computersicence",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Date": {
										"value": {
											"value": "@item().date",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Language": {
										"value": {
											"value": "@item().language",
											"type": "Expression"
										},
										"type": "String"
									},
									"Maths": {
										"value": {
											"value": "@item().maths",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Physics": {
										"value": {
											"value": "@item().Phiysics",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StudentCode": {
										"value": {
											"value": "@item().studentcode",
											"type": "Expression"
										},
										"type": "String"
									},
									"StudentId": {
										"value": {
											"value": "@item().StudentID",
											"type": "Expression"
										},
										"type": "String"
									},
									"StudentName": {
										"value": {
											"value": "@item().StudentName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer7Stage",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SP_INSERT_DELETE_UPDATE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_dim_tblEmployee]"
				},
				"linkedServiceName": {
					"referenceName": "SqlServer7Stage",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 10
				}
			}
		],
		"variables": {
			"Insertion": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Refresher"
		},
		"annotations": []
	}
}